table{
	border:13px solid #3e3e3e;
	border-collapse: collapse;
	margin:0 auto;

}

tr{
	height: 65px;
}

.tr2,
.tr3{
	height: 135px;
}

td,
tr{
	border:8px solid #3e3e3e;
}

.smoke{
	background-color: #f3f3f3;
}

.blue{
	background-color: #0d7fbe;
}

.black{
	background-color:#000000;
}
.red{
	background-color:#f50f0f;
}

.yellow{
	background-color:#fae317;
}